.navbar {
  padding: 1rem 0;
}

.navbar-brand {
  background-color: transparent;
  border: 2px solid lightgray;
  font-family: "Raleway", sans-serif;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.4s ease-out;
  font-size: larger;
}
.navbar-brand:hover{
  background-color: lightgray;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-item {
  background-color: transparent;
  transition: all 0.4s ease-out;
  border: 2px solid lightgray;
  font-family: "Raleway", sans-serif;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: small;
}
.navbar-item:hover{
  background-color: lightgray;
}

.navbar-user {
  margin-top: 2rem;
  text-align: right;
  color: white;
}
